In [1]:
from src.scrapers import article_scraper
from src.model import main
import pandas as pd
from time import sleep

In [2]:
df = pd.read_json('data/AMZN.json')

In [3]:
df.sample(3)

,href,title,dtime,ticker
2246,https://www.marketwatch.com/story/congress-has...,Congress has a million-plus documents from Big...,2020-07-29T08:19:00,AMZN
8919,https://www.marketwatch.com/story/amazon-offer...,Amazon offering 20% Prime discount in lead up ...,2016-11-16T10:44:40,AMZN
2559,https://www.marketwatch.com/articles/dow-jones...,The Dow Slipped 109 Points Because Reopened Ec...,2020-05-11T17:41:00,AMZN

In [4]:
df['date'] = df['dtime'].apply(lambda x: x.split('T')[0])

In [5]:
df.head()

,href,title,dtime,ticker,date
0,https://www.marketwatch.com/articles/softbank-...,SoftBank CEO to Take Stake in Vision Fund 2,2021-08-10T13:49:00,AMZN,2021-08-10
1,https://www.marketwatch.com/story/amazon-com-i...,Amazon.com Inc. stock underperforms Tuesday wh...,2021-08-10T16:30:00,AMZN,2021-08-10
2,https://www.marketwatch.com/articles/stocks-ar...,Stocks Are Literally More Expensive Than Ever,2021-08-10T11:08:00,AMZN,2021-08-10
3,https://www.marketwatch.com/story/amazon-com-i...,Amazon.com Inc. stock outperforms market despi...,2021-08-09T16:30:00,AMZN,2021-08-09
4,https://www.marketwatch.com/story/amazons-supp...,Amazon’s supply chain is operating near capaci...,2021-08-06T14:48:00,AMZN,2021-08-06

In [6]:
db_company = main.add_company(name='Amazon', ticker='AMZN')
print(db_company)

<src.model.models.Company object at 0x7f64fe908cd0>

In [7]:
scraper = article_scraper.ArticleScraper()

In [8]:
i = 0
for row in df.itertuples():
    i += 1
    if i == 21:
        break
    data = scraper.parse(row.href)
    main.add_article(ticker='AMZN', title=row.title, text=data['article_text'], href=row.href, date=row.date)
    sleep(1)
    
    if row.Index % 10 == 0:
        print(f"Succesfully parsed {row.Index} articles")

Succesfully parsed 0 articles
Succesfully parsed 10 articles